<!DOCTYPE html>
<html>
<head>
  <title>HKBU Event</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--  
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
        -->

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">


      </head>
      <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">

          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://localhost:1337/person/home">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                 <script type="text/javascript">
                // function item() {
                //   if (req.session.username == null) {
                //     document.getElementById("create").setAttribute("hidden")};
                //     document.getElementById("manage").setAttribute("hidden")};
                //     document.getElementById("admin").setAttribute("hidden")};
                //     document.getElementById("myregisteredevent").setAttribute("hidden")};
                //     document.getElementById("logout").setAttribute("hidden")};
                //     document.getElementById("name").setAttribute("hidden")};
                //   }else{
                //     if (req.session.username == "admin") {
                //       document.getElementById("register").setAttribute("hidden")};
                //       document.getElementById("signin").setAttribute("hidden")};
                //       document.getElementById("myregisteredevent").setAttribute("hidden")};
                //     }else{
                //       if (req.session.dept == "staff") {
                //         document.getElementById("manage").setAttribute("hidden")};
                //         document.getElementById("register").setAttribute("hidden")};
                //         document.getElementById("signin").setAttribute("hidden")};
                //         document.getElementById("myregisteredevent").setAttribute("hidden")};
                //       }else{
                //         document.getElementById("create").setAttribute("hidden")};
                //         document.getElementById("manage").setAttribute("hidden")};
                //         document.getElementById("admin").setAttribute("hidden")};
                //         document.getElementById("register").setAttribute("hidden")};
                //         document.getElementById("signin").setAttribute("hidden")};
                //       }
                //     }
                //   }
                //   item();
                   </script>
                 <!--  <li id="search">
                    <a href="http://localhost:1337/person/search">Search</a>
                  </li>
                  <li id="create">
                    <a href="http://localhost:1337/person/create">Create</a>
                  </li>
                  <li id="manage">
                    <a href="http://localhost:1337/user/manage">Manage</a>
                  </li>
                  <li id="admin">
                    <a href="http://localhost:1337/person/admin">Admin</a>
                  </li>
                  <li id="myregisteredevent">
                    <a href="http://localhost:1337/user/myregisteredevents">My Registered Event</a>
                  </li>
                  <li id="register">
                    <a href="http://localhost:1337/user/register">Register</a>
                  </li>
                  <li id="signin">
                    <a href="http://localhost:1337/user/signin">Sign in</a>
                  </li>
                  <li id="logout">
                    <a href="http://localhost:1337/user/logout">Logout</a>
                  </li>
                  <li id="name">
                   <a href="">Hi,<%=req.session.username%></a>
                 </li> -->
                 <% if(req.session.username == null){%>
                 <li>
                  <a href="http://localhost:1337/person/search">Search</a>
                </li>
                <li>
                  <a href="http://localhost:1337/user/register">Register</a>
                </li>
                <li>
                  <a href="http://localhost:1337/user/signin">Sign in</a>
                </li>
                <%}else{%>
                <% if(req.session.username == 'admin'){%>
                <li>
                  <a href="http://localhost:1337/person/search">Search</a>
                </li>
                <li>
                  <a href="http://localhost:1337/person/create">Create</a>
                </li>
                <li>
                  <a href="http://localhost:1337/user/manage">Manage</a>
                </li>
                <li>
                  <a href="http://localhost:1337/person/admin">Admin</a>
                </li>
                <li>
                  <a href="http://localhost:1337/user/logout">Logout</a>
                </li>
                <li>
                 <a href="">Hi,<%=req.session.username%></a>
               </li>
               <%}else{%>
               <% if(req.session.userdept=='Staff'){%>
               <li>
                <a href="http://localhost:1337/person/search">Search</a>
              </li>
              <li>
                <a href="http://localhost:1337/person/create">Create</a>
              </li>
              <li>
                <a href="http://localhost:1337/person/admin">Admin</a>
              </li>
              <li>
                <a href="http://localhost:1337/user/logout">Logout</a>
              </li>
              <li>
               <a href="">Hi,<%=req.session.username%></a>
             </li>
             <%}else{%>
             <li>
              <a href="http://localhost:1337/person/search">Search</a>
            </li>
            <li>
              <a href="http://localhost:1337/user/myregisteredevents">My Registered Event</a>
            </li>
            <li>
              <a href="http://localhost:1337/user/logout">Logout</a>
            </li>
            <li>
              <a href="">Hi,<%=req.session.username%></a>
            </li>
            <%}}}%>             
          </ul>
        </div>

      </nav>

      <div class="jumbotron">
        <h2>
          Event Management System
        </h2>
        <p>
          HKBU Event Management System is a web-based system for departments and student societies to broadcast activities and events as well as for registration.
        </p>
      </div>

    </div>

  </div>

  <body>
    <%- body %>



  <!--
      Client-side Templates
      ========================

      HTML templates are important prerequisites of modern, rich client applications.
      To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
      that you load these templates client-side.

      By default, your Gruntfile is configured to automatically load and precompile
      client-side JST templates in your `assets/templates` folder, then
      include them here automatically (between TEMPLATES and TEMPLATES END).
      
      To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Import templates from other directories
          + Use a different template engine (handlebars, jade, dust, etc.)
          + Internationalize your client-side templates using a server-side
            stringfile before they're served.
          -->

          <!--TEMPLATES-->
          
          <!--TEMPLATES END-->


  <!--

    Client-side Javascript
    ========================

    You can always bring in JS files manually with `script` tags, or asynchronously
    on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
    take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

    By default, files in your `assets/js` folder are included here
    automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
    CoffeeScript (.coffee) are supported. In production, your scripts will be minified
    and concatenated into a single file.
    
    To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:
        
        + Change the order of your scripts
        + Import scripts from other directories
        + Use a different preprocessor, like TypeScript

      -->

      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <!--SCRIPTS END-->

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    </body>
    </html>
