<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		<table class="table">
			<% users.supervises.forEach(function(model){%>
			<tr>
				<td><a href="http://localhost:1337/person/eventdetails/<%=model.id%>"><%=model.name%></a></td>
				<td><%=model.date%></td>
				<td><%=model.time%></td>
				<td><%=model.venue%></td>
				<td><a href="http://localhost:1337/user/unreg/<%=model.id%>">UnReg</a></td>
			</tr>
			<% });%>
		</table>
	</div>
</div>